*{
    margin: 0;
    padding: 0;
}

header , footer{
    height: 20vh;
    background-color: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 60vh;
    display: flex;
}

article{
    background-color: blueviolet;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

aside{
    background-color: salmon;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

